[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Implementation of Cracking The Coding Interview in Go lang
[access "refs/*"]
	owner = group user/Vishal Punjabi (vshlpunjabi)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Vishal Punjabi (vshlpunjabi)
	label-Verified = -1..+1 group user/Vishal Punjabi (vshlpunjabi)
	push = group user/Vishal Punjabi (vshlpunjabi)
	read = group user/Vishal Punjabi (vshlpunjabi)
	rebase = group user/Vishal Punjabi (vshlpunjabi)
	removeReviewer = group user/Vishal Punjabi (vshlpunjabi)
	submit = group user/Vishal Punjabi (vshlpunjabi)
[access "refs/heads/*"]
	create = group user/Vishal Punjabi (vshlpunjabi)
	push = +force group user/Vishal Punjabi (vshlpunjabi)
	pushMerge = group user/Vishal Punjabi (vshlpunjabi)
	read = group user/Vishal Punjabi (vshlpunjabi)
[access "refs/tags/*"]
	push = group user/Vishal Punjabi (vshlpunjabi)
	push = +force group user/Vishal Punjabi (vshlpunjabi)
